<div class="main-content">
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
        <div class="container px-4">
            <!--<a class="navbar-brand" routerLinkActive="active" [routerLink]="['/landing']">
                <img class="img-logo animated fadeIn" src="assets/img/imagenes/logo-vp.png" />
            </a>-->
            <a class="navbar-brand" [routerLink]="['/landing']" id="logoVP">
                <img src="./assets/img/brand/vplogo.png" class="img-logo animated fadeIn">
            </a>
            <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
                aria-controls="sidenav-collapse-main">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
                <!-- Collapse header -->
                <div class="navbar-collapse-header d-md-none">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a routerLinkActive="active" [routerLink]="['/landing']">
                                <img src="assets/img/imagenes/logo-vp.png">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Navbar items -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" [routerLink]="['/landing']" id="landing">
                            <i class="ni ni-world"></i>
                            <span class="nav-link-inner--text">Portada</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" [routerLink]="['/landing']">
                            <i class="fas fa-users"></i>
                            <span class="nav-link-inner--text">Quiénes Somos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" [routerLink]="['/landing']">
                            <i class="fas fa-phone-square-alt"></i>
                            <span class="nav-link-inner--text">Contáctanos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" [routerLink]="['/registrar']">
                            <i class="ni ni-circle-08"></i>
                            <span class="nav-link-inner--text">Registrarse</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" [routerLink]="['/log-in']">
                            <i class="ni ni-key-25"></i>
                            <span class="nav-link-inner--text">Iniciar Sesión</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="header bg-gradient-landing py-7 py-lg-8">
        <div class="container">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-6">
                        <h1 class="text-white">Vida Plena!</h1>
                        <p class="text-lead text-light">Regístrate en nuestra aplicación y disfruta de los beneficios
                            que te ofrecemos</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
    <div class="container mt--8 pb-5">
        <!-- Table -->
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <form (ngSubmit)="registrarUsuario(formulario, correoModal)" #formulario="ngForm">
                            <div class="form-group" [ngClass]="{
                                'has-danger':
                                    (correo.errors?.required || correo.errors?.pattern) &&
                                    correo.touched
                            }">
                                <div class="input-group input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                    </div>
                                    <input class="form-control" [ngClass]="{
                                        'is-invalid':
                                            (correo.errors?.required || correo.errors?.pattern) &&
                                            correo.touched
                                    }" name="correo" [(ngModel)]="nuevoUsuario.Correo" required
                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #correo="ngModel"
                                        placeholder="Correo" type="email">
                                    <div *ngIf="correo.errors?.required" class="invalid-feedback pd-left">
                                        Este campo es requerido
                                    </div>
                                    <div *ngIf="correo.errors?.pattern" class="invalid-feedback pd-left">
                                        Este campo requiere de un patron:
                                        correo@email.example
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{
                                'has-danger':
                                    (contrasenya.errors?.required || contrasenya.errors?.minlength || contrasenya.errors?.maxlength ) &&
                                    contrasenya.touched
                            }">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                    </div>
                                    <input class="form-control" [ngClass]="{
                                        'is-invalid':
                                            (contrasenya.errors?.required || contrasenya.errors?.minlength || contrasenya.errors?.maxlength ) &&
                                            contrasenya.touched
                                    }" name="contrasenya" [(ngModel)]="nuevoUsuario.Contrasenya" required minlength="8"
                                        maxlength="16" #contrasenya="ngModel" placeholder="Contraseña" type="password">
                                    <div *ngIf="contrasenya.errors?.required" class="invalid-feedback pd-left">
                                        Este campo es requerido
                                    </div>
                                    <div *ngIf="contrasenya.errors?.minlength || contrasenya.errors?.maxlength "
                                        class="invalid-feedback pd-left">
                                        La contraseña debe tener mínimmo {{contrasenya.errors.minlength.requiredLength}}
                                        caracteres y máximo 16
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row my-4">
                                    <div class="col-12">
                                        <div class="custom-control custom-control-alternative custom-checkbox"
                                            id="acceptTerms">
                                            <input class="custom-control-input" required name="acepta"
                                                [(ngModel)]="acepta" id="aceptarTerminos" type="checkbox">
                                            <label class="custom-control-label" for="aceptarTerminos">
                                                <span class="text-muted">Acepto los términos de la <a href="#!">
                                                        Política de
                                                        Privacidad
                                                    </a></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary mt-4" [disabled]="!formulario.valid"
                                        id="btnCrearCuenta">Crear
                                        Cuenta</button>
                                </div>
                                <!--Modal-->
                                <ng-template #correoModal id="modalcorreo">
                                    <div class="modal-content animated fadeIn">
                                        <div class="modal-body">
                                            <div class="alert alert-danger" role="alert">
                                                El correo ingresado: <strong>{{correo.value}}</strong> ya está en uso
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <!--Modal end-->

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="pd-footer">
    <div class="container">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6">
                <div class="copyright text-center text-xl-left ">
                    &copy; {{ anyo | date: "yyyy" }} <a href="https://www.creative-tim.com?ref=ada-footer-auth-layout"
                        class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
                </div>
            </div>
            <div class="col-xl-6">
                <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                    <li class="nav-item">
                        <a href="https://www.creative-tim.com?ref=ada-footer-auth-layout" class="nav-link"
                            target="_blank">Creative Tim</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.creative-tim.com/presentation?ref=ada-footer-auth-layout" class="nav-link"
                            target="_blank">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://blog.creative-tim.com?ref=ada-footer-auth-layout" class="nav-link"
                            target="_blank">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/creativetimofficial/argon-dashboard-angular/blob/master/LICENSE.md"
                            class="nav-link" target="_blank">MIT License</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>